*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
--Red: #ff7a7a;
--Green: #38cc8c;
--Blue: #6055a5;
--DarkBlue: #3e3c49 ;
--GrayishBlue: #b9b6d3;
}


body{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--Red);
}
body::after{
    background: url('img/bg-intro-desktop.png');
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -999;
}

.info-cont{
    color: white;
    max-width: 525px;
}
.info-cont h1{
    font-size: 50px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 16px;
}

.info-cont p{
    line-height: 26px;
}

main{
    display: flex;
    max-width: 1110px;
    align-items: center;
    margin:  0 auto;
    gap: 45px;
}

.free{
    background: var(--Blue);
    color: white;
    padding: 17px 0;
    text-align: center;
    font-size: 15px;
    border-radius: 18px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 24px;
}

.free span{
    font-weight: bold;
}

.form-cont{
    max-width: 540px;
    display: flex;
    flex-direction: column;
}

form{
    border-radius: 10px;
    background: #FFF;
    padding: 40px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    
}
.input-div{
    margin-bottom: 20px;
    position: relative;
}

.input-div img{
    top: 15px;
    position: absolute;
    right: 15px;
}
.input-div p{
    font-size: 11px;
    color: var(--Red);
    text-align: right;
}

.input-div input{
    width: 100%;
    padding: 15px 32px;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #DEDEDE;
    background: #FFF;
}

.input-div input:focus{
    border: 1px solid #5E54A4;
}

form button{
    width: 100%;
    display: block;
    background: var(--Green);
    padding: 15px 0;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: .3s all;
}


.terms{
    margin-top: 8px;
    font-size: 11px;
    color: var(--GrayishBlue);
    line-height:26px;
}
.terms span{
    font-weight: 600;
    color: var(--Red);
}

button:hover{
    background: #77E2B3;
}


.input-div input.erro{
    border: 2px solid #FF7979;
}

@media(max-width:999px){
    main{
        flex-direction: column;
    }
    .info-cont{
        text-align: center;
        max-width: 100%;
        padding: 0 24px;
        padding-top: 66px;
    }
    .info-cont h1{
        font-size: 28px;
    }
    .form-cont{
        max-width: 100%;
        padding: 0 24px;
    }
    .free{
        padding: 18px 50px;
    }
    .terms{
        text-align: center;
    }
}